@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.ViewName;
}

<nav class="navbar navbar-dark sticky-top navbar-expand-md" style="background-color: var(--primaryColor);">
    <a class="navbar-brand" href="#">
        <img src="~/images/icons8-bumblebee_filled.svg" width="40" height="40" class="d-inline-block align-middle" alt="">
        Bumblebee
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            @for(var i = 0; i < ViewBag.NavCount; i++)
            {
                var NavItem = ViewBag.NavLinks[i];
                var listClass = ViewBag.NavSelectedIndex == i ? "nav-item active navbar-active-primary" : "nav-item";
                var linkClass = ViewBag.ProjectCount > 0 ? "nav-link" : "nav-link disabled";
                string linkName = @NavItem.Name;
                {<li class="@listClass"><a class="@linkClass" href="@Url.Action("SelectedNavLink","MainContent", new{index=i})"><i class="@NavItem.IconString"></i>@NavItem.Name</a></li>}
               <!-- {<li class="@listClass"><a class="@linkClass" href="#"><i class="@NavItem.IconString"></i>@NavItem.Name</a></li>} -->
            }
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <div class="row">
                    <div class="col-5">
                        <label class="sidebar-header">PROJECTS</label>
                    </div>
                    <div class="dropdown col-6">
                        <button class="btn btn-primary-blue dropdown-toggle btn-sm" type="button" id="filterButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-right:8px;">
                            <i class="fas fa-filter"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterButton">
                            <li>@Html.ActionLink("All", "FilterAll", "Dashboard", null, new{@class="dropdown-item"})</li>
                            <li>@Html.ActionLink("Open", "FilterOpen", "Dashboard", null, new{@class="dropdown-item"})</li>
                            <li>@Html.ActionLink("Closed", "FilterClosed", "Dashboard", null, new{@class="dropdown-item"})</li>
                        </ul>
                        <a href="@Url.Action("AddProject", "MainContent")" class="btn btn-primary-blue btn-sm">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
                <ul class="nav flex-column">
                    @if (ViewBag.ProjectCount > 0)
                    {
                        for(var i = 0; i < ViewBag.ProjectCount; i++)
                        {
                            var project = ViewBag.ProjectList[i];
                            var linkClass = ViewBag.ProjectSelectedIndex == i ? "nav-link active sidebar-active-primary" : "nav-link";
                            var iconClass = ViewBag.ProjectSelectedIndex == i ? "fas fa-folder-open fa-fw" : "fas fa-folder fa-fw";
                            {<li class="nav-item"><a class="@linkClass" href="#"><i class="@iconClass"></i>@project.ProjectName</a></li>}
                        }
                    }
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                @if (ViewBag.AddProject != null) 
                {
                    {Html.RenderPartial("NewProjectView");}
                }
                else
                {
                    if (ViewBag.ProjectCount > 0)
                    {
                        if (ViewBag.NavSelectedIndex == 0)
                        {
                            {Html.RenderPartial("DashboardView");}
                        }
                        else if (ViewBag.NavSelectedIndex == 1)
                        {
                            {Html.RenderPartial("TaskListView");}
                        }
                        else if (ViewBag.NavSelectedIndex == 2)
                        {
                            {Html.RenderPartial("InvoiceListView");}
                        }
                        else if (ViewBag.NavSelectedIndex == 3)
                        {
                            {Html.RenderPartial("SettingsView");}
                        }
                    }
                    else
                    {
                        {Html.RenderPartial("EmptyProjectView");}
                    }
                }
            </div>
        </main>
    </div>
</div>