@model BumblebeeASP.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
<html class="home-view">
    <body class="home-view">
        <div class="container logo-container">
            <img src="~/images/circle_logo.svg" />
            <h1>Bumblebee</h1>
        </div>
        @using(Html.BeginForm("Login", "Home"))
        {
        <div class="container form-container">
            <fieldset>
                <h2>Log in to your Account</h2>
                <br/>
                <p class="error-box">@ViewBag.ErrorMessage</p>
                <p class="success-box">@ViewBag.SuccessMessage</p>
                <br/>
                <div class="form-group">
                    <div class="input-group md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email-addon"><i class="fas fa-envelope fas-primary-dark fa-fw"></i></span>
                        </div>
                        @Html.TextBoxFor(x => x.LoginEmail, new{@class="form-control",aria_describedby="email-addon"})
                    </div>
                    @Html.ValidationMessageFor(x => x.LoginEmail, "", new {@class="error-message"})
                </div>
                <div class="form-group">
                    <div class="input-group md-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password-addon"><i class="fas fa-unlock fas-primary-dark fa-fw"></i></span>
                        </div>
                        @Html.PasswordFor(x => x.LoginPassword, new{@class="form-control",aria_describedby="password-addon"})
                    </div>
                    @Html.ValidationMessageFor(x => x.LoginPassword,"",new {@class="error-message"})
                </div>
                <br/>
                <input class="btn btn-primary-blue btn-block" type="submit" value="Log In" id="loginButton"/>
                <br/>
            </fieldset>
        </div>
        }
        <div class="container form-footer">
            <label>New to Bumblebee?</label>
            <a asp-area="" asp-controller="Home" asp-action="Register">Sign Up</a>
        </div>
        <div class="footer-link">
            <a asp-area="" asp-controller="Home" asp-action="Forgot">Forgot Password?</a>
        </div>
    </body>
</html>