@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BumblebeeASP.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<html class="home-view">
    <body class="home-view">
        <div class="circle-logo">
            <img src="~/images/Circle_Logo.svg"/>
            <h1>Bumblebee</h1>
        </div>
        @using(Html.BeginForm("SaveUser", "Register"))
        {
        <div class="form-container">
            <fieldset>
                <h2>Register a new account</h2>
                <br/>
                <p class="error-box">@ViewBag.ErrorMessage</p>
                <br/>
                <div class="input-full">
                    @Html.TextBoxFor(x => x.FirstName)
                </div>
                @Html.ValidationMessageFor(x => x.FirstName, "", new {@class = "error-message"})
                <div class="input-full">
                    @Html.TextBoxFor(x => x.LastName)
                </div>
                @Html.ValidationMessageFor(x => x.LastName, "", new {@class = "error-message"})
                <div class="input-full">
                    @Html.TextBoxFor(x => x.UserEmail)
                </div>
                @Html.ValidationMessageFor(x => x.UserEmail, "", new {@class = "error-message"})
                <div class="input-full">
                    @Html.PasswordFor(x => x.UserPassword)
                </div>
                @Html.ValidationMessageFor(x => x.UserPassword, "", new {@class = "error-message"})
                <br/>
                <input type="submit" value="Create Account" id="registerButton"/>
                <br/>
            </fieldset>
        </div>
        }
        <div class="form-footer">
            <label>Already have an account?</label>
            <a asp-area="" asp-controller="Home" asp-action="Index">Sign In</a>
        </div>
    </body>
</html>