@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BumblebeeASP.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<html class="home-view">
    <body class="home-view">
        <div class="container logo-container">
            <img src="~/images/circle_logo.svg" />
            <h1>Bumblebee</h1>
        </div>
        <div class="container form-container">
            <h2>Register a new account</h2>
            <br/>
            <p class="error-box">@ViewBag.ErrorMessage</p>
            <br/>
            @using(Html.BeginForm("SaveUser", "Register"))
            {
            <div class="form-group">
                @Html.LabelFor(x => x.FirstName)
                <div class="input-group md-3">
                    @Html.TextBoxFor(x => x.FirstName, new{@class="form-control"})
                </div>
                @Html.ValidationMessageFor(x => x.FirstName, "", new {@class = "error-message"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LastName)
                <div class="input-group md-3">
                    @Html.TextBoxFor(x => x.LastName, new{@class="form-control"})
                </div>
                @Html.ValidationMessageFor(x => x.LastName, "", new {@class = "error-message"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UserEmail)
                <div class="input-group md-3">
                    @Html.TextBoxFor(x => x.UserEmail, new{@class="form-control"})
                </div>
                @Html.ValidationMessageFor(x => x.UserEmail, "", new {@class = "error-message"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UserPassword)
                <div class="input-group md-3">
                    @Html.PasswordFor(x => x.UserPassword, new{@class="form-control"})
                </div>
                @Html.ValidationMessageFor(x => x.UserPassword, "", new {@class = "error-message"})
            </div>

            <br/>
            <input class="btn btn-primary-blue btn-block" type="submit" value="Create Account" id="registerButton"/>
            <br/>
            }
        </div>
        <div class="container form-footer">
            <label>Already have an account?</label>
            <a asp-area="" asp-controller="Home" asp-action="Index">Sign In</a>
        </div>
    </body>
</html>
